<label [ngClass]="{'checked': check}">
    <div class="menu-hamb">
      <span class="hamburguer" (click)="check = !check"></span>
    </div>
  </label>
  <ul class="ul-mbl">
    <li><a href='#'>Home</a></li>
    <li><a href='#'>About</a></li>
    <li><a href='#'>Work</a></li>
  </ul>
  <app-modal><p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
    libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
    voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!
    </p></app-modal>
  <router-outlet></router-outlet>
  